@import url('https://fonts.googleapis.com/css2?family=Nova+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova script', cursive;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background: #fff url("./images/pokeback.svg") no-repeat fixed;
    background-size: cover;
}
/* NAVBAR */
nav{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
nav .logo {
    font: bolder 32px 'Nova script';
    color: #E26A2C;
    cursor: default;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-links a{
    margin-right: 1.8rem;
    font: bolder 18px 'Nova Script';
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.nav-links a:hover{
    color: #E26A2C;
    transition: all 0.5s ease-in-out;
}
nav .nav-btn{
    font-size: 1.8rem;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    display: none;
}
/* HOME */
.home{
    position: relative;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home h1{
    font: bolder 80px 'Nova script';
    color: #E26A2C;
    z-index: 10;
}
.home p{
    font: 400 23px 'Nova script';
    font-style: italic;
    z-index: 10;
    color: #fff;
}
.home .images img{
    width: 180px;
    height: 180px;
    margin-top: 2rem;
}
.home .images img:nth-of-type(1){
    position: absolute;
    top: 40%;
    left: 10%;
}
.home .images img:nth-of-type(2){
    position: absolute;
    top: 20%;
    left: 25%;
}
.home .images img:nth-of-type(4){
    position: absolute;
    top: 20%;
    right: 25%;
}
.home .images img:nth-of-type(5){
    position: absolute;
    top: 40%;
    right: 11%;
}
.home .arrow-down{
    transform: translateY(45px);
    margin-top: 5rem;
    color: #E26A2C;
    font-size: 3rem;
    cursor: pointer;
    animation: bounce 2s infinite ease-in-out;
}
@keyframes bounce {
    0%, 100%{
        transform: translateY(35px);
    }
    50%{
        transform: translateY(55px);
    }
}

@media screen and (max-width: 800px) {
    nav{
        justify-content: space-between;
    }
    nav .nav-btn{
        display: flex;
        color: #fff;
    }
    nav .nav-links{
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        transition: 1s;
        transform: translateX(-100%);
        padding: 1rem;
        z-index: 50;
    }
    nav .nav-links a{
        margin-bottom: 1.8rem;
        color: #000;
    }
    .nav-links a:hover{
        color: #E26A2C;
        transition: all 0.5s ease-in-out;
    }
    nav .nav-links.responsive_nav{
        transform: none;
    }
    .nav-links .nav-close{
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: #000;
    }
    /* HOME */
    .home{
        padding: 0 1rem;
    }
    .home h1{
        font: bolder 40px 'Nova script';
    }
    .home p{
        font: 400 16px 'Nova script';
        font-style: italic;
    }
    .home .images img{
        width: 80px;
        height: 80px;
    }

}