@import url('https://fonts.googleapis.com/css2?family=Nova+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova script', cursive;}
a{
    text-decoration: none;
    color: inherit;}
body{
    background: #fff url("./images/pokeback.svg") no-repeat fixed;
    background-size: cover;}
/* NAVBAR */
nav{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    z-index: 10;}
nav .logo {
    font: bolder 32px 'Nova script';
    color: #E26A2C;
    cursor: default;}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;}
.nav-links a{
    margin-right: 1.8rem;
    font: bolder 18px 'Nova Script';
    color: #fff;
    transition: all 0.3s ease-in-out;}
.nav-links a:hover{
    color: #E26A2C;
    transition: all 0.5s ease-in-out;}
nav .nav-btn{
    font-size: 1.8rem;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    display: none;}
/* HOME */
.home{
    position: relative;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;}
.home h1{
    font: bolder 80px 'Nova script';
    color: #E26A2C;
    z-index: 10;}
.home p{
    font: 400 23px 'Nova script';
    font-style: italic;
    z-index: 10;
    color: #fff;
    width: 75%;}
.home .images img{
    width: 180px;
    height: 180px;
    margin-top: 2rem;}
.home .images img:nth-of-type(1){
    position: absolute;
    top: 40%;
    left: calc(100% - 90%)}
.home .images img:nth-of-type(2){
    position: absolute;
    top: 20%;
    left: 25%;}
.home .images img:nth-of-type(4){
    position: absolute;
    top: 20%;
    right: 25%;}
.home .images img:nth-of-type(5){
    position: absolute;
    top: 40%;
    right: 11%;}
.home .arrow-down{
    transform: translateY(45px);
    margin-top: 5rem;
    color: #E26A2C;
    font-size: 3rem;
    cursor: pointer;
    animation: bounce 2s infinite ease-in-out;}
@keyframes bounce {
    0%, 100%{transform: translateY(35px);}
    50%{transform: translateY(55px);}}
/* CHARACTERS */
.contain{position: relative;}
.characters{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    place-items: center;
    padding: 1rem;}
.input-btn{
    position: absolute;
    top: 2%;
    height: 30px;}
.input-btn input{
    width: 150px;
    height: 100%;
    border: 1px solid #fff;
    outline: none;
    caret-color: #E26A2C;
    padding-left: 1rem;
    font: 900 18px 'Nova Script';
    color: #fff;
    background-color: #777676;
    transform: skew(-20deg);}
.input-btn button{
    width: 50px;
    height: 100%;
    transform: skew(-20deg);
    border: 0;
    outline: none;
    background-color: #E26A2C;
    color: #fff;
    cursor: pointer;
    font: 900 18px 'Nova Script';}
.character-image{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;}
.c-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;}
.character-image .c-images img{
    width: 250px;
    height: 250px;}
.character-image p{
    font: 900 38px 'Nova Script';
    color: #fff;}
.c-name, .s-name{
    color: #E26A2C;
    text-transform: uppercase;}
.character-stats, .stats-order{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 0.5rem;}
.character-stats p{
    font: 900 26px 'Nova Script';
    color: #fff;}
.stats-Mul{
    display: flex;}
.stats-Mul p{
    margin-right: 1rem;}
/* LOADER */
.loader-cont{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333232;
    z-index: 19;}
@-webkit-keyframes hourglass-spin {
    0%, 10% {
      background-position: 0 90%; }
    40%,
    60% {
      background-position: 0 10%; }
    90%,
    100% {
      background-position: 0 -70%; } }
@keyframes hourglass-spin {
    0%, 10% {
        background-position: 0 90%; }
    40%,
    60% {
        background-position: 0 10%; }
    90%,
    100% {
        background-position: 0 -70%; }}
@-webkit-keyframes hourglass-container-spin {
    0%,
    40% {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg); }
    50%,
    90% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); } }  
@keyframes hourglass-container-spin {
    0%,
    40% {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg); }
    50%,
    90% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }}
.hourglass {
    -webkit-animation: hourglass-container-spin 4s infinite;
    animation: hourglass-container-spin 4s infinite;
    height: 40px;
    position: relative;
    width: 40px;}
.hourglass:after, .hourglass:before {
      background-size: 100% 300%;
      border-radius: 100%;
      border: 4px solid #fff;
      height: 40px;
      width: 40px;
      -webkit-animation-name: hourglass-spin;
              animation-name: hourglass-spin;
      -webkit-animation-duration: 4s;
              animation-duration: 4s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      content: '';
      position: absolute;
      background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(50%, transparent), color-stop(50%, #E26A2C), #E26A2C);
      background-image: linear-gradient(0deg, transparent, transparent 50%, #E26A2C 50%, #E26A2C);}
.hourglass:after {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);}
.hourglass:before {
      -webkit-animation-delay: -2s;
              animation-delay: -2s;
      animation-direction: reverse;
      -webkit-transform: translateY(20px);
              transform: translateY(20px);}
/* ERROR */
.errorMess{
    position: absolute;
    top: 0;
    right: 50%;
    width: 30%;
    height: 50px;
    margin: 3rem auto;
    background: #E26A2C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-left: 8px solid #777676;}
  .errorMess span{
    font: 500 18px 'Nova Flat';
    color: #fff;}
/* ABOUT  */
.documentation{
    color: #fff;
}
.about, .documentation{
    padding: 1rem 5rem;    
    width: 100%;}
.about article{
    font: 400 46px;
    color: #fff;
    text-align: justify;}
.about .socials{
    margin-top: 1.8rem;}
.about .socials p{
    font-size: 42px;
    color: #E26A2C;}
.social-icons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}
.social-icons a{
    margin-right: 3rem;
    font-size: 50px;}
.social-icons a:nth-of-type(1){
    color: #fff;}
.social-icons a:nth-of-type(2){
    color: #8484ff;}
.social-icons a:nth-of-type(3){
    color: #df7b49;}
/* ERROR 404 */
.error-404{
    width: 100%;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error-404 img{
    width: 200px;
    height: 200px;
}
.error-404 h1{
    font-size: 40px;
    color: #fff;
    margin: 1rem 0;
}
.error-404 button{
    padding: 1rem 2rem;
    border: 0;
    outline: none;
    background-color: #df7b49;
    color: #fff;
    font: 900 18px 'Nova Script';
    transform: skew(-20deg);
    cursor: pointer;
    transition: all 0.5s ease-in-out}
.error-404 button:hover{
    background-color: #E26A2C;
    transition: all 0.5s ease-in-out}
@media screen and (max-width: 800px) {
    nav{justify-content: space-between; z-index: 9999;}
    nav .nav-btn{
        display: flex;
        color: #fff;}
    nav .nav-links{
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        transition: 1s;
        transform: translateX(-100%);
        padding: 1rem;
        z-index: 50;}
    nav .nav-links a{
        margin-bottom: 1.8rem;
        color: #000;}
    .nav-links a:hover{
        color: #E26A2C;
        transition: all 0.5s ease-in-out;}
    nav .nav-links.responsive_nav{
        transform: none;}
    .nav-links .nav-close{
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: #000;}
    /* HOME */
    .home h1{
        font-size: 3rem;}
    .home p{
        font-size: 18px;}
    .home .images img{
        width: 120px;
        height: 120px;}
}
@media screen and (max-width: 500px) {
    .home h1{
        font-size: 2rem;}
    .home p{
        font-size: 16px; width: 100%;}
    .home .images{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .home .images img{
        width: 100px;
        height: 100px;}
    .home .images img:nth-of-type(1), .home .images img:nth-of-type(5){
        display: none;
    }
    .home .images img:nth-of-type(2), .home .images img:nth-of-type(4){
        position: relative;
        top: 0;
        right: 0;
        left: 0;
    }
    
}